.navbarHead{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    background: linear-gradient(to right,#443682,#28418A, #28418A)
}
.navbarHead .box{
    gap: 30px;
     display: flex;
    align-items: center;
    justify-content: center;
    width: 1480px;
    height: 90px;
}
.navbarHead .box .lobo{
    width: 430px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.navbarHead .box .lobo img{
    width: 85px;
    height: 80px;
} 
.navbarHead .box .lobo h1{
    color: white;
    font-size: 18px;
        font-weight: 300;
}